*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: rgb(106, 100, 100);
    text-decoration: none;
    }
    
body{
    display: flex;
    background: url(./asserts/Rectangle\ \(1\).svg);
    background-size: cover;
    background-attachment: fixed;
    overflow: scroll;
    align-items: center;
    flex-direction: column;
    }
    
    .head{
    display: flex;
    background-position: center;
    justify-content: space-between;
    height: 800px;
    width: 100%;
    max-width: 1440px;
    }
    
    .header{
    display: flex;
    background-position: center;
    height: 800px;
    width: 100%;
    max-width: 1440px;
    justify-content: space-around;
    }
    
    
    .header_left{
    width: 100%;
    max-width: 250px;
    height: 50px;
    padding-top: 25px;
    }
    
    .menu_left{
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 400px;
    line-height: 60px;
    text-align: left;
    }
    .logo{
    display: flex;
    justify-content: space-around;
    }
    
    .items__LOGO{
    color: white;
    }
    
    .header_right{
    width: 100%;
    max-width: 480px;
    height: 60px;
    padding-top: 25px;
    }
    
    .menu{
    font-weight: 400px;
    font-size: 35px;
    line-height: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .menu_text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    }

    .sign{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    font-weight: 400px;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    letter-spacing: 0;
    text-align: center;
    border: 2px solid #CD6326;
    border-radius: 5px;
    background-color: transparent;
    width: 120px;
    height: 50px;
}

.sign{
    color: white;
}
    
.text{
    display: flex;
    width: 250px;
    height: 170px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: white;
    text-align: justify;
}
.sign{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    font-weight: 400px;
    font-style: normal;
    line-height: 20px;
    text-decoration: none;
    letter-spacing: 0;
    text-align: center;
    border: 2px solid #CD6326;
    border-radius: 5px;
    background-color: transparent;
    width: 120px;
    height: 50px;
    }
    
.box{
    height: 100px;
    }
    
.nav{
    display: flex;
    max-width: 480px;
    width: 100%;
    justify-content:space-between;
    font-family: Open Sans;
    font-size: 23px;
    line-height: 60px;
    color: white;
    }
    
.survival{
    width: 199px;
    height: 72px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #CD6326;
    }
    
.donate{
    width: 160px;
    height: 60px;
    background: #CD6326;
    border: 2px solid #CD6326;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #F7f7f7;
    }
    
a{
    text-decoration: none;
    letter-spacing: 2px;
    }

.articles{
    display: flex;
    justify-content: center;
}

.Latest__articles{
    width: 77%;
    height: 1368px;
    max-width: 1440px;
    background-color: white;
    border-radius: 0px;
}

.articles__txt{
    display: flex;
    height: 360px;
    align-items: center;
    justify-content: center;
}

.Latest{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: black;
}
.h3{
    color: black;
}

.Breaking{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
}

.lenta{
    display: flex;
    width: 100%;
    height: 360px;
    max-width: 1440px;
    justify-content: space-around;
    align-items: center;
}

.deer_block{
    width: 300px;
    height: 360px;
    background: url(./asserts/Deer.svg);
}

.BOXXX{
    height: 247px;
}

.TXT{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F7f7f7;
    line-height: 40px;
    font-size: 27px;
}

.TXT__DEER{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #F7f7f7;
}
.TXT__DEER_N{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #F7f7f7;
}

.Squirrel__block{
    width: 300px;
    height: 360px;
    background: url(./asserts/Squirrel.svg);
}

.TXT__Squirrel{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #F7f7f7;
}

.TXT__Squirrel_K{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #F7f7f7;
}

.Bird_block{
    width: 300px;
    height: 360px;
    background: url(./asserts/Bird.svg);
}

.TXT__Bird{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #F7f7f7;
}

.TXT__Bird_B{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #F7f7f7;  
}

.notification{
    display: flex;
    flex-direction: column;
    width: 1440px;
    max-width: 100%;
    height: 638px;
    justify-content: center;
    align-items: center;
}

.text__notification{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 27px;
    font-weight: normal;
    font-style: normal;
    line-height: 40px;
    text-align: center;
    color: black;
}

.Block__notifed{
    margin: 40px;
}

.B_N{
    display: flex;
}

.Email{
    display: flex;
    width: 510px;
    height: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    color: black;
}

.Send{
    width: 120px;
    height: 59px;
    background: #CD6326;
    border: 3px solid #CD6326;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    color: #F7f7f7;
    text-decoration: none;
    letter-spacing:
}

.arrow:hover{
    transform: scale(1.1,1.1);
}

.items__LOGO:hover{
    color: rgb(218, 174, 92);
    transform: scale(1.1,1.1);
    transition: 1s;
    }
    
.nav:hover{
    color: darkcyan;
    transition: 1.2s;
    transform: scale(1.1,1.1);
    }
    
.sign:hover{
    color: darkcyan;
    transform: scale(1.1,1.1);
    transition: 1.4s;
    }
    
.donate:hover{
    transform: scale(1.1,1.1);
    transition: 1s;
    }
